app = "tiktokshopradar"
primary_region = "iad"

[build]

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[mounts]]
  source = "tiktokshopradar_data"
  destination = "/data"

[processes]
  app = "gunicorn tiktokshopradar.wsgi:application --bind 0.0.0.0:8000"
